<header>
  <nav>
    <a href="/logout">Logout</a>
    <a href="/user">See all Decks</a>
  </nav>
</header>
<div class="quiz">
  <h1>Test Yourself!</h1>
  <h1>Hover over the word to reveal the answer</h1>
  <br>
  <h1 id="totalScore"></h1>
  </div>


  {{#random}}
  <div class="flashCards">
    <br>
    <a class="correct">Got it!</a>
    <br>
    <a class="incorrect">Keep Studying</a>
    <ul>
      <li>
        <p>{{front}}</p>
        <hr>
        <ul>
          <li><p>{{back}}</p></li>
        </ul>
      </li>
    </ul>
  </div>

  {{/random}}

  <script src="/main.js"></script>
