<header>
  <nav>
    <a href="/logout">Logout</a>
    <a href="/user">See all Decks</a>
  </nav>

</header>

<div class="quizOver">
  <div>
    <h1>Quiz is Completed!</h1>
  </div>
  <div>
    <a href="/user">Take Another Quiz?</a>
  </div>
</div>
