{{#user}}

<header>
  <nav>
    <a href="/logout">Logout</a>
    <a href="/user">See all Decks</a>
  </nav>
  <h1>Welcome, {{username}}</h1>
</header>

<div class="user_container">


  <form class="deck_form" action="/user" method="post">
    <input type="text" name="title" value="" placeholder="Title of Deck">
    <textarea name="description" rows="4" cols="40" placeholder="Short Description of Study Deck"></textarea>
    <button type="submit" name="button">Create Deck</button>
  </form>

  <div class="study_deck">
    {{#decks}}
      <div class="individual_deck">
        <p>{{title}}</p>
        <p>{{description}}</p>
        <h4>Created by: {{user.dataValues.username}}</h4>
        <br>
          <a href="/deck/{{id}}"> Create Cards for {{title}} Deck</a>
          <a href="/deck/{{id}}/quiz">Take a Quiz</a>

      </div>
    {{/decks}}
  </div>


</div>

{{/user}}
