*{
  font-family: 'Dosis', sans-serif;
}

nav{
  background-color: lightyellow;
  height: 50px;
  display: flex;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
  color: slategray;
  justify-content: flex-start;
}

.form_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 700px;
  background-image: url('joanna-kosinska-129039.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.login_container{
  background-color: gainsboro;
  height: 300px;
  width: 300px;
  text-align: center;
  margin-top: 210px;
  border: 2px solid gray;
}


.login_form input{
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.login_form button{
  height: 30px;
  width: 150px;
  font-size: 18px;
}

.theme{
  text-align: center;
  margin-top: 200px;
  padding: 15px;
}

.theme h1{
  margin-bottom: 0px;
  font-size: 60px;
}

.theme h4{
  margin-top: 10px;
  font-size: 30px;
}

.signup_container{
  background-color: gainsboro;
  height: 300px;
  width: 300px;
  text-align: center;
  margin-top: 210px;
  border: 2px solid gray;
}

.signup_form input{
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.signup_form button{
  height: 30px;
  width: 150px;
  font-size: 18px;
}

/*deck*/
.study_deck{
  display: flex;
  flex-direction: row;
}
.individual_deck{
  border: 1px solid gray;
  width: 300px;
  margin: 20px;
  font-size: 20px;
}

.deck_form{
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
}

.deck_form input{
  height: 70px;
  width: 200px;
  font-size: 26px;
  margin: 10px;
}
.deck_form textarea{
  height: 70px;
  width: 400px;
  font-size: 26px;
}
.deck_form button{
  height: 30px;
  width: 150px;
  font-size: 18px;
  color: slategray;
  margin: 10px;
}


/*card*/
.create_cards{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.add_cards input{
  height: 70px;
  width: 400px;
  font-size: 26px;
}

.add_cards button{
  height: 30px;
  width: 150px;
  font-size: 18px;
  color: slategray;
}

.card_container{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 200px;
  justify-content: space-around;
  border: 1px solid gray;
  margin-bottom: 20px;
  margin-left: 450px;
  font-size: 26px;
}

.card_container a{
  text-decoration: none;
  margin-top: 15px;
  font-size: 14px;
}

.front{
  width: 25%;
  margin-top: 65px;
  color: lightslategray;
}

.back{
  width: 25%;
  margin-top: 65px;
  color: dimgray;
}
